<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="title">SCHEDULE A RESERVATION</h1>
      <form [formGroup]="form"  (ngSubmit)="bookTable()">
        <div class="input-group mb-3">
          <span class="input-group-text">Name</span>
          <input formControlName="name" type="text" class="form-control" placeholder="Ej: Lorenzo">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Cabin</span>
          <input formControlName="cabin" type="number" class="form-control" placeholder="Ej: 1234">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Date</span>
          <input formControlName="date" type="datetime" class="form-control">
          <span class="input-group-text">Hour</span>
          <input formControlName="hour" type="datetime" class="form-control">
        </div>

        <div class="row">
          <div class="col-lg-7">
            <div class="input-group mb-3">
              <span class="input-group-text">Restaurant</span>
              <select  formControlName="restaurant" class="form-select" aria-label="Default select example">
                <option selected> - Select the restaurant - </option>
                <option value="Equis">Equis</option>
                <option value="Zeta">Zeta</option>
                <option value="Lambda">Lambda</option>
              </select>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="input-group mb-3">
              <span class="input-group-text">Attendees</span>
              <input formControlName="attendees" type="number" class="form-control" min="1" max="6" placeholder="Max: 6">
            </div>
          </div>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="submit" style="background-color: #0000ff; border: #0000ff;" >Book</button>
        </div>
      </form>
    </div>
    <div class="card-body title">
      <h3 class="card-title">Reservations</h3>
      <div class="container">
        <div class="table-responsive">
          <table class="table aling-middle ">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Cabin</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col">Attendees</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of bookings">
                <td>{{booking.name}}</td>
                <td>{{booking.cabin}}</td>
                <td>{{booking.date}}</td>
                <td>{{booking.hour}}</td>
                <td>{{booking.attendees}}</td>
                <td>{{booking.restaurant}}</td>
                <td>
                  <i class="far fa-solid fa-file-pen" style="color: #0000cc;"></i>
                </td>
                <td>
                  <i class="far fa-solid fa-trash" style="color: #b30000;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
