/* You can add global styles to this file, and also import other style files */
body{
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
  background: linear-gradient(to right, #1565C0, #b92b27);
}

html, body { height: 100%; }
body { margin: 0;  font-family: 'Poppins', sans-serif; }
